html,body {
    height:100%;
    margin:0;
    padding:0;
 }
 #container {
    display:flex;
    min-height:100%;
 }
 #container #no-alone {
    display:flex;
    min-width: 50%;
    background-color: #96eb7e;
    justify-content: center;
    align-items: center;
 }
 #container #people {
    display:flex;
    min-width: 50%;
    background-color: #FF73A9;
    justify-content: center;
    align-items: center;
 }
 #nobtn-alone {
    background: transparent;
    cursor: pointer;
    border: 2px solid black;
    color: black;
    border-radius: 15px;
    font-size:13px;
    font-weight: bolder;
    margin: 0px 0px 0px 200px;
    width: 450px;
    height: 50px;
    justify-content:center;
    align-items: center;
 }
 #btn-people {
    background: transparent;
    cursor: pointer;
    border: 2px solid black;
    color: black;
    border-radius: 15px;
    font-size:13px;
    font-weight: bolder;
    margin: 0px 0px 0px 250px;
    width: 150px;
    height: 50px;
    justify-content:center;
    align-items: center;
 }
 #btn-people:hover, #nobtn-alone:hover, #peopleStuff #searchBar button:hover {
    border:none;
    background: white;
 }
 #no-alone, #people {
    display: none;
    width: 100%;
 }
 #peopleStuff {
    display:none;
 }
 #peopleStuff .center {
    display:flex;
    margin-top: 50px;
    justify-content: center;
 }
 #peopleStuff #searchBar {
    display: flex;
    margin-top: 50px;
    margin-left: 800px;
 }
 #peopleStuff #searchBar button {
    background: transparent;
    cursor: pointer;
    border: 2px solid black;
    color: black;
    border-radius: 15px;
    font-size:13px;
    font-weight: bolder;
    margin: 10px 40px 0px 0px;
    width: 70px;
    height: 30px;
    justify-content:center;
    align-items: center;
 }
 #peopleStuff #searchBar input {
    width: 250px;
    height: 20px;
    border:none;
    margin-top: 15px;
    margin-right: 10px;
 }

 .select{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background: white ;
    border-radius:15px;
    width: 400px ;
    height: 30px;
    border-color: black;
 }
 #showMovie ,#showAloneMovie{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
 }
 .cards {
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
    margin:20px;
 }
 .cards:hover{
    border:none;
    background-color: #e7e7e7;
    color: black;
    text-transform: uppercase;
    -webkit-transition-property: background-color, left;
  transition-property: background-color, left;
  -webkit-transition-duration: 1s, 2s;
  transition-duration: 1s, 2s;
  -webkit-transition-timing-function: ease, ease-out;
  transition-timing-function: ease, ease-out;
 }
 .cards h3{
    font-weight: bolder;
    font-size: 16px;
    justify-content: center;
    align-content: center;
 }
 .cards2, .cards3 {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    margin:20px
 }
 .imgPoster{
    width: 250px;
    height: 350px;
 }
 .cards p {
    font-size: 14px;
    margin-left: 210px;
 }
 #random{
    display: none;
 }
 .insideRandom {
    display:flex;
    margin: 50px 100px 0px 100px;
    flex-direction: row;
    justify-content: space-between;
 }
 .insideRandom button  {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border: 2px solid black;
    font-size: 15px;
    background: transparent;
    border-radius: 15px;
    width: 250px;
    align-items: center;
 }
 .insideRandom button:hover {
    border:none;
    background-color: white;
    color:black;
 }
 .subTitle{
     margin-top:50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600; 
    font-size: 18px;
    margin-left: 100px;
 }
 #prueba{
    background:#E2E2E1 ;
    
 }
 #footerLogo{
    background:transparent;
    display: none;
    margin: 20px;
    float: right;

    
    
 }
 .logoMovies{
    width: 100px;
    height: 50px;
 }
