html,body { 
    height:100%; 
    margin:0;
    padding:0;
}

#container {
    display:flex;
    min-height:100%;
}

#buttonPeople{
    display:block;
}

#container #alone {
    display:flex;
    min-width: 50%;
    background-color: #96eb7e;
    justify-content: center;
    align-items: center;
  }
  
#container #people {
    display:flex;
    min-width: 50%;
    background-color: #FF73A9;
    justify-content: center;
    align-items: center;
}

  #container #alone #btn-alone {
      justify-content: center;
      width: 80px;
      height: 50px;
  }
  

#container #people #btn-people {
    justify-content: center;
      width: 150px;
      height: 50px;
}

#container #people #searchBar .button {
    width: 50px;
    height: 50px;
}



#searchBar {
    display: flex;
    align-content: right;
   
}
  
#alone, #people {
    display: none;
    width: 100%;
}

#peopleStuff {
    display:none;
}





#people .center {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
}

.cards {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#showMovie{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    margin: 0px;
    width: 100%;
}
.cards2{
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    margin:20px
    
}
.cards3{
    flex-direction: row;
    flex-wrap: wrap;
    margin:20px;
}
.imgPoster{
    width: 300px;
    height: 400px;

}
.title{
    width: 100%;
    justify-content: center;
    align-content: flex-end
}